{% extends '__base__client.html' %}
{% load staticfiles %}
{% load compress %}

{% block css %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/sub1.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

<!----- content ----->
{% block content %}
    <!----- Visual ----->
    <section id="visual">
        <div class="subReport"></div>
        <div class="subnavi">
            <div class="wrapper">
                <ul class="clearfix">
                    <li><a href="{% url 'index' %}">홈</a></li>
                    <li>></li>
                    <li><a href="{% url 'community_notice' %}">계정 관리</a></li>
                    <li>></li>
                    <li><a href="{{ request.path }}">{% block tab_name %}현재 페이지{% endblock %}</a></li>
                </ul>
            </div>
            <div class="line"></div>
        </div>
    </section>
    <!----- //Visual ----->

    <!----- conatainer ----->
    <section id="container">
        <div class="wrapper clearfix">
            <div class="subMenu">
                <p class="subTit">계정 관리</p>
                <ul class="subMenu_list">
                    {#                    <li {% if request.resolver_match.url_name == "community_notice" %}class="active"{% endif %}><a#}
                    {#                            href="{% url 'community_notice' %}">공지사항</a></li>#}

                    <li class="active"><a href="{% url 'profile_basic_info' %}">기본정보</a></li>
                    <li class="active"><a href="{% url 'profile_basic_info' %}">비밀번호</a></li>
                </ul>
            </div>
            <div class="rightcol" style="min-height: 700px">
                {% block tab_content %}
                    <div>
                        <p class="introImg"><img src="{% static 'images/introImg.jpg' %}" alt="1인1작소개"></p>
                        <p class="introDesc">
                            텍스트 입력란입니다. 텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란 입니다. 텍스트 입력란입니다.
                            텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란 입니다. 텍스트 입력란입니다. 텍스트
                            입력란입니다.텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란 입니다. 텍스트 입력란 입니다. 텍스트 입력란입니다. 텍스트 입력란입니다.텍스트
                            입력란입니다.텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란 입니다.텍스트 입력란 입니다. 텍스트 입력란입니다. 텍스트 입력란입니다.텍스트 입력란입니다.텍스트
                            입력란입니다.텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란 입니다. 텍스트 입력란입니다. 텍스트 입력란입니다.텍스트 입력란입니다.텍스트 입력란입니다.텍스트
                            입력란 입니다.텍스트 입력란입니다.텍스트 입력란 입니다.
                        </p>
                    </div>
                {% endblock %}
            </div>
        </div>
    </section>
    <!----- //conatainer ----->
{% endblock %}
