{% extends 'accounts/__base__account.html' %}
{% load staticfiles %}
{% load compress %}
{% block head %}
    {% compress js %}
        <script type="text/javascript">
            var clickable = false;

            function submit() {
                if (clickable !== true) {
                    return;
                }
                clickable = false;
                const url = "{% url 'profile_password_change' %}"; // the script where you handle the form input.
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#form").serialize(), // serializes the form's elements.
                    success: function (data) {
                        alert('비밀번호 변경이 완료되었습니다.');
                        window.location.href = "{% url 'index' %}";
                    },
                    error: function (data) {
                        msg = data.responseJSON.__all__[0].message;
                        $('#notice').html(msg).show();
                        clickable = true;
                    }
                });
            }

            $(document).ready(function () {
                clickable = true;
            })
        </script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <section id="join">
        <div class="boxtable">
            <p class="biglogo"><a href="{% url 'register' %}"><img src="{% static 'images/login_logo.png' %}"
                                                                   alt="home"></a></p>
            <div class="whiteBg">
                <div class="loginbox">
                    <p class="loginText">비밀번호 변경</p>
                </div>
                <form action="{% url 'profile_password_change' %}" method="post" id="form">{% csrf_token %}
                    <input id="username" type="text" class="username" placeholder="아이디" maxLength="30" readonly
                           value="{{ user.username }}" name="username"/>
                    <input id="email" type="email" class="email" placeholder="이메일" maxLength="50" readonly
                           value="{{ user.email }}" name="email"/>
                    <input id="password1" type="password" class="password" name="password1" placeholder="비밀번호"
                           maxLength="20"/>
                    <input id="password2" type="password" class="password password-confirm" name="password2"
                           placeholder="비밀번호확인" maxLength="20"/>
                    <input id="request_id" type="hidden" value="{{ request_id }}" readonly
                           name="request_id"/>
                    <input id="hashcode" type="hidden" value="{{ hashcode }}" readonly name="hashcode"/>
                    <p id="notice" class="noticeRed" style="display: none;"></p>
                    <p class="joinBtn"><a href="#" onclick="submit();">변경하기</a></p>
                </form>
            </div>
        </div>
    </section>
{% endblock %}