{% extends 'accounts/__base__account.html' %}
{% load staticfiles %}
{% load compress %}
{% block head %}
    {% compress js %}
        <script type="text/javascript">
            var clickable = false;

            function submit() {
                if (clickable !== true) {
                    return;
                }
                clickable = false;
                const url = "{% url 'profile_password_request' %}"; // the script where you handle the form input.
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#form").serialize(), // serializes the form's elements.
                    success: function (data) {
                        window.location.href = "{% url 'profile_password_done' %}";
                    },
                    error: function (data) {
                        msg = '이메일 주소를 확인하세요'
                        $('#notice').html(msg).show();
                        clickable = true;
                    }
                });
            }

            $(document).ready(function () {
                clickable = true;
            })
        </script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <section id="join">
        <div class="boxtable">
            <p class="biglogo"><a href="{% url 'register' %}"><img src="{% static 'images/login_logo.png' %}"
                                                                   alt="home"></a></p>
            <div class="whiteBg">
                <div class="loginbox">
                    <p class="loginText">비밀번호 재발급</p>
                </div>
                <form action="{% url 'profile_password_request' %}" method="post" id="form">{% csrf_token %}
                    <input id="email" type="email" class="email" placeholder="이메일" maxLength="50"
                           value="{{ user.email }}" name="email"/>

                    <p id="notice" class="noticeRed" style="display: none;"></p>
                    <p class="joinBtn"><a href="#" onclick="submit();">재발급 신청</a></p>

                </form>
            </div>
        </div>
    </section>
{% endblock %}